@import "compass";
@import "mixins";

@include respond-to(phone, tablet) {
	.aui {
		.dockbar .navbar-inner .container {
			@include box-sizing(border-box);

			padding: 0 5px;

			#_145_navAddControlsNavbarBtn, #_145_navSiteNavigationNavbarBtn {
				display: none;
			}

			.nav-account-controls {
				text-align: top;
			}

			.brand {
				line-height: 16px;
				padding: 12px 0 0 0;
				white-space: nowrap;

				.control-panel-back-link {
					float: left;
					margin-top: 6px;
					position: relative;
					z-index: 2;

					@include respond-to(phone) {
						margin: 0;
						padding: 6px 8px;
						position: absolute;
					}
				}

				h1 {
					@include respond-to(phone) {
						height: 51px;
						margin-top: -5px;
						position: relative;

						a {
							display: inline-block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 75px;

							.lfr-icon-menu-text {
								font-size: 18px;
							}
						}

						.control-panel-site-selector, .site-administration-title {
							@include ellipsis;

							display: block;
							font-size: 16px;
						}

						.control-panel-site-selector {
							position: static;

							i {
								bottom: 4px;
								position: absolute;
								right: 0;
							}
						}

						.divider {
							display: none;
						}
					}

					@include respond-to(tablet) {
						line-height: 32px;
					}
				}
			}

			.btn-navbar {
				float: right;
			}

			.nav-account-controls > li:hover {
				background-color: transparent;
			}
		}
	}

	.ie9 {
		.dockbar .navbar-inner .container .nav-collapse .nav-account-controls {
			text-align: right;

			> li.dropdown {
				display: inline-block;
				float: none;
				text-align: left;
				vertical-align: top;
			}
		}
	}
}

@include respond-to(phone) {
	.aui{
		.control-panel-home-actions, .portlet-title .taglib-icon-help {
			display: none;
		}
	}
}